{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={% static 'studentSignUp/fonts/icomoon/style.css' %}>
    <link rel="stylesheet" href={% static 'studentSignUp/css/owl.carousel.min.css' %}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'studentSignUp/css/bootstrap.min.css' %}>
    
    <!-- Style -->
    <link rel="stylesheet" href={% static 'studentSignUp/css/style.css' %}>

    <title>TPI</title>
  </head>
  <body>
  
    <h2 
    style="font-size: 32px;
     text-align:center; 
     font-weight:bold; 
     margin-top:4%; 
     margin-bottom:-5% ">
      For Students
    </h2>
  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
              
                  <div class="mb-4">
                  <h3>Sign Up</h3> 
                  
                {% if error %}
                  <div style = "border: 1px solid #D63301;
                  margin: 10px 0px;
                  background-position: 10px center; background-color: #FFBABA;">
                    <p style="color: black; text-align:center; padding-top: 10px; font-size: 15px">
                      {{error}} 
                    </p>
                  </div>
                {% endif %}
                </div>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group first">
                    <label for="name">Name</label>
                    <input type="text" value="{{values.name}}" class="form-control" name="name">

                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                    <input type="email" value="{{values.email}}" class="form-control" name="email">

                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                    
                  </div>
                  <!-- <div class="form-group last mb-4">
                    <label for="re-password">Re-type Password</label>
                    <input type="password" class="form-control" id="re-password">
                    
                  </div> -->
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Agree our <a href="#">Terms and Conditions</a></span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                    <span class="ml-auto"><a href="login" class="forgot-pass">Sign In</a></span> 
                  </div>

                  <input type="submit" value="Register" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> or register with</span>
                  
                  <div class="social-login text-center">
                    <a href="#" class="facebook">
                      <span class="icon-facebook mr-3"></span> 
                    </a>
                    <a href="#" class="twitter">
                      <span class="icon-twitter mr-3"></span> 
                    </a>
                    <a href="#" class="google">
                      <span class="icon-google mr-3"></span> 
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src={% static 'studentSignUp/js/jquery-3.3.1.min.js' %}></script>
    <script src={% static 'studentSignUp/js/popper.min.js' %}></script>
    <script src={% static 'studentSignUp/js/bootstrap.min.js' %}></script>
    <script src={% static 'studentSignUp/js/main.js' %}></script>
  </body>
</html>